<div class="index_main container">
  <%= t ".menu" %>
  <div>
    <ul>
      <li><%= link_to "Người dùng", users_path, :class => "navbar-link" %></li>
      <li><%= link_to "Kỳ thi", new_sessionexam_path, :class => "navbar-link"  %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %></li>
    </ul>
  </div>
</div>