
efault: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: quiz_test_project_development

test:
  <<: *default
  database: quiz_test_project_test

production:
  <<: *default
  database: quiz_test_project_production
  username: quiz_test_project
  password: <%= ENV['QUIZ_TEST_PROJECT_DATABASE_PASSWORD'] %>
