body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

ul {
  display: contents;
}

td,th{
  height: 25px;
  width: 200px;
  display: inline-flex;
}

input, select {
  height: 25px;
}

select {
  width: 60px;
}

.header-navbar {
  height: 60px;
}

.container {
  height: 80vh;
  text-align: -webkit-center;
}

.container2{
  
}

.footer-navbar {
  height: 10vh;
}
